<div class="audio-podcast-fixed text-center">
	<div class="controls init" onclick="">
		<i class="fa"></i>
		<audio id="podcast" preload="none">
			<source src="http://www.ecestaticos.com/file/bab98a5ca732f499223c886ff46993fa/1458053393.ogv" type="audio/ogg">
		  	<source src="http://www.ecestaticos.com/file/c478a2d8a7b5d764340663158eb2aeae/1457720618.mp3" type="audio/mpeg">
		  	Audio no soportado en este navegador
		</audio>
	</div>
	<span class="note">Escucha este reportaje</span>
	<a href="" class="fa fa-close hide-audio" onclick=""></a>
</div>