<div class="with-audio">
	<img class="lazy-img" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="http://www.ecestaticos.com/file/41fc0e175e7f3cfede1eb220d75e2cfc/1460597594.jpg" width="" height="" alt="" title="">
	<div class="audio-podcast">
		<div class="controls init" data-audio="Final" data-podcast="default-podcast">
			<i class="fa"></i>
			<audio id="default-podcast" preload="none">
				<source src="http://www.ecestaticos.com/file/7436f1c38672fa9f47cbbaa31b89752b/1460600270.mp3" type="audio/mpeg">
			  	Audio no soportado en este navegador
			</audio>
		</div>
	</div>
</div>