.ce-cell{
	margin: 10px 20px 20px;
}

.cell-label{
	color: #f7f7f7;
	font-size: 14px;
	margin-bottom: 10px;
}

.ce-textInput, .ce-select {
	input, select {
		width: 100%;
		padding: 10px 20px;
		border: 0;
		border-radius: 5px;
	}
}
.ce-select{

}

.ce-textInput{
    
}

.ce-icon-button-container, .ce-number-input-container {
	float: left;
	width: 25%;
	text-align: center;
}
.ce-icon-button-label, .ce-number-input-label {
	color: #bbbbbb;
	font-size: 12px;	
	margin-top: 8px;
}

