@import 'reset';
@import 'helpers';

b {
    font-weight: bold;
}

body{
    position: relative;
}

#interface-container{
    font-family: 'Titillium Web';
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    z-index: 100;
}

#canvas-container{
    position: relative;
    z-index: 0;
}

.in-interface{
    z-index: 100;
}

/* TOPBAR TOP */
.in-topbar {
    z-index: 200;
    pointer-events: all;
    position: fixed;
    width: 100%;
    background: #383838;
}
.in-topbar-container {
    display: inline-block;
    font-size: 0;
    line-height: 0;
}
.in-topbar-container-logo {
    padding: 25px 20px;
}
.in-topbar-item {
    font-size: 14px;
    padding: 25px 25px 21px;
    text-decoration: none;
    color: #cecece;
    &.with-children {
        -webkit-transition: background .3s ease-out, color .3s ease-out;
        -moz-transition: background .3s ease-out, color .3s ease-out;
        -o-transition: background .3s ease-out, color .3s ease-out;
        transition: background .3s ease-out, color .3s ease-out;
        &:hover, &.active {
            background: #f5f5f5;
            color: #262626;
        }
    }
    &.templates-item, &.import-item {
        display: inline-block;
        color: #747474;
    }
    &.settings-item {
        display: inline-block;
        background: #494949;
        padding: 24px 25px 23px;
    }
    &.actions-item {
        display: inline-block;
        color: #9aceff;
        background: #494949;
        padding: 24px 25px 23px;
    }
    .download-item {
        background: #fff;
        color: #000;
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 20px;
    }
}
.in-topbar-icon {
    margin-left: 10px;
}

/*TOPBAR BOTTOM*/
.in-topbar-options {
    background: #f5f5f5;
    padding: 20px 20%;
    width: 60%;
    display: none;
}
.options-container {display: none;}
.option-container {
    border: 1px solid #ebebeb;
    border-radius: 5px;
    padding: 20px 15px 10px;
    display: inline-block;
    background: #fff;
    margin: 0 10px;
    a {
        text-decoration: none;
    }
}
.option-img {
    margin-bottom: 10px;
}
.option-label {
    color: #9a9a9a;
    font-size: 11px;
}
.owl-topbar {
    .owl-controls {
        position: absolute;
        top: 50%;
        width: 100%;
        .owl-prev, .owl-next {
            position: absolute;
            top: -8px;
        }
        .owl-prev {left: -23px;}
        .owl-next {right: -20px;}
    }
}

.owl-carousel .owl-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    transform-style:preserve-3d;
}


.page-uploader {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.hidden-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.page-uploader-button {
    cursor: pointer;
}

.in-panel{
    position: absolute;
    pointer-events: all;
    background-color: #525151;
    color: #fff;
    width: 350px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.8);
    -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.8);
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.8);
}

.in-window{
    //max-width: 300px;
    z-index: 250;
}

.in-subpanel{
}

.in-window-topbar{
    width: 100%;
    height: 50px;
    background-color: #525151;
    cursor: move;
    padding: 10px 20px;
    box-sizing: border-box;
    > img {
        vertical-align: middle;
    }
    .window-topbar-maximize-minimize {
        position: relative;
        top: 8px;
    }
}
.window-topbar-title {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
}
.window-topbar-maximize-minimize {
    float: right;
}

.in-edition-panel{
    position:fixed;
}

.edition-panel-node-title-container {
    width: 100%;
    height: 50px;
    background-color: #383838;
    padding: 10px 20px;
    box-sizing: border-box;
    > img {
        vertical-align: middle;
        margin-right: 10px;
    }
}
.edition-panel-node-title-icon, .edition-panel-node-title {
    display: inline-block;
}

.in-tabrow-subpanel {
    background: #383838;
}
.in-tabrow-tab {
    float: left;
    padding: 15px 20px;
    cursor: pointer;
    &.active, &:hover {
        background: #515151;
    }
}

/* NODE INTERFACE */

.in-node-layer{
    //border: 1px dashed black;
    position: absolute;
}

.in-node-topbar{
    height: 30px;
    min-width: 200px;
    background-color: #525151;
    pointer-events: none;
}

.in-node-topbar.active{
    background-color: rgb(93, 142, 170);
}

.in-node-topbar-icon {
    vertical-align:middle;
    margin-right: 5px;
}
.in-node-topbar-title {
    float: left;
    margin-left: 10px;
}
.in-node-topbar-actions-container {
    float: right;
}
.in-node-topbar-append-button, .in-node-topbar-duplicate-button, .in-node-topbar-delete-button {
    display: inline-block;
    padding: 2px;
    margin: 5px 10px;
    width: 19px;
    height: 17px;
    cursor: pointer;
    pointer-events: all;
}
.in-node-topbar-append-button {
    background: url(../img/icons-node/edit-icon-inactive.png)no-repeat center;
}
.in-node-topbar-duplicate-button {
    background: url(../img/icons-node/duplicate-icon-inactive.png)no-repeat center;
}
.in-node-topbar-delete-button {
    background: url(../img/icons-node/erase-icon-inactive.png)no-repeat center;
    border-left: 1px dotted #000;
    padding-left: 15px;
}

.in-container-topbar{
    width: 250px;
    pointer-events: all;
}

/* HELPERS */
.no-text-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
				not supported by any browser */
}

.pointer{
    cursor: pointer;
}

.in-hidden{
    display: none;
}


/* CONTAINERS */
.editing {
    .in-ghost{
	display: block;
    }

    .in-ghost-node-top-padding{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 30px;
	pointer-events: none;
    }

    .canvas-component {
	padding-top: 30px !important;
	border: 1px dashed black;
        box-sizing: border-box;
    }

    .in-container{
	padding: 10px;
	padding-top: 30px;
    }

    #canvas-container{
	padding-top: 10px;
	padding-bottom: 40px;
    }

    .scroll-up-container, .audio-podcast-fixed {
        width: 20%;
        max-width: none;
    }

    .embed-container iframe {
        top: 30px;
    }

}

.in-container {
    min-height: 120px;
    box-sizing: content-box;
}
