<html>
    <head>
	

	<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700' rel='stylesheet' type='text/css'>
	<link rel='stylesheet' type='text/css' href='/static/canvas/css/interface.css'>
	<link rel='stylesheet' type='text/css' href='/static/canvas/css/cells.css'>
	<link rel='stylesheet' type='text/css' href='/static/canvas/css/third_party/dragula.min.css'>
	<link rel='stylesheet' type='text/css' href='/static/canvas/js/node_modules/owlcarousel-pre/owl-carousel/owl.carousel.css'>
	<link rel='stylesheet' type='text/css' href='/static/canvas/css/third_party/spectrum.css'>
	<link rel='stylesheet' type='text/css' href='/static/components/css/components.css'>

	<script src="/static/canvas/js/node_modules/jquery/dist/jquery.min.js"></script>
	<script src="/static/canvas/js/node_modules/systemjs/dist/system.js"></script>
	<script src="/static/canvas/js/node_modules/typescript/lib/typescript.js"></script>
	<script src="/static/canvas/js/node_modules/owlcarousel-pre/owl-carousel/owl.carousel.min.js"></script>
	<script src="/static/canvas/js/custom/dragula.js"></script>
	<script src="/static/canvas/js/jscolor.min.js"></script>
	<script src="/static/canvas/js/third_party/spectrum.js"></script>
	<script src="/static/components/js/main.js"></script>

	<script>
	    System.config({
		transpiler: 'typescript',
		packages: {
		    '/static/canvas/src': {
			defaultExtension: 'ts'
		    }
		}
	    });
	    System.import('/static/canvas/src/panels.ts')
	    System.import('/static/canvas/src/screen.ts')
	    System.import('/static/canvas/src/interface.ts')
	    System.import('/static/canvas/src/cells.ts')
	    System
		.import('/static/canvas/src/main.ts')
		.then(null, console.error.bind(console));
	</script>

    </head>
	
    <body class="editing">

	<div id='ed-ghost-topbar' style='height:65px; width:100%;'></div>

	<form id='ed-save-form' name="myform" action="http://localhost:5000/downloadpage/" method="POST">
		<input id='ed-document' type="hidden" name="document" value="content">
		<input id='ed-pageConfig' type="hidden" name="pageConfig" value="content">
		<input id='ed-nodes' type="hidden" name="nodes" value="content">
	</form>
	

	<!-- start of canvas --><div id='canvas-container'></div><!-- end of canvas -->

	<div id='interface-container' class='no-text-select'>
		<div class="in-interface in-topbar text-center text-uppercase">
			<div class="in-topbar-container in-topbar-container-logo">
				<img src="/static/canvas/img/ec-logo.png" alt="El Confidencial" title="El Confidencial" width="132" height="15">
			</div>
			<div class="in-topbar-container in-topbar-container-menu">
				<a id="containersMenu" class="in-topbar-item with-children" href="#containersOptions">Contenedores</a>
				<a id="blocksMenu" class="in-topbar-item with-children" href="#blocksOptions">Bloques</a>
				<a id="contentsMenu" class="in-topbar-item with-children" href="#contentsOptions">Contenidos</a>
				<a id="floatsMenu" class="in-topbar-item with-children" href="#floatsOptions">Flotantes</a>
			</div>
			<div class="in-topbar-container in-topbar-container-imports">
				<a id="templatesMenu" class="in-topbar-item templates-item" href="#">Plantillas <img class="in-topbar-icon" src="/static/canvas/img/templates-icon.png" alt="Plantillas" title="Plantillas" width="12" height="14"></a>
				<input type="file" name="page-uploader" id="page-uploader" class="page-uploader">
				<label for="page-uploader" class="in-topbar-item import-item page-uploader-button">Importar <img class="in-topbar-icon" src="/static/canvas/img/import-icon.png" alt="Importar" title="Importar" width="13" height="14"></label>
			</div>
			<div class="in-topbar-container">
				<div id="settingsMenu" class="in-topbar-container in-topbar-container-settings">
					<a class="in-topbar-item settings-item" href="#">Preferencias <img class="in-topbar-icon" src="/static/canvas/img/settings-icon.png" alt="Preferencias" title="Preferencias" width="17" height="14"></a>
				</div>
				<div class="in-topbar-container in-topbar-container-actions">		    
					<a id="downloadMenu" class="in-topbar-item actions-item download-item" href="#">Descargar <img class="in-topbar-icon" src="/static/canvas/img/export-icon.png" alt="Importar" title="Importar" width="13" height="14"></a>
				</div>
			</div>
			<div class="in-topbar-options ">
				<div id="containersOptions" class="options-container"></div>
				<div id="blocksOptions" class="options-container"></div>
				<div id="contentsOptions" class="options-container"></div>
				<div id="floatsOptions" class="options-container"></div>
			</div>
		</div>
	</div>

	<div id='test-button' style='display: none; padding:10px; background-color: #333; color: white; position: absolute; bottom: 30px; left: 30px; cursor: pointer;'> Test button</div>

    </body>

</html>
