<html>
    <head>
	
	<link rel='stylesheet' type='text/css' href='/static/canvas/css/interface.css'>
	<link rel='stylesheet' type='text/css' href='/static/canvas/js/node_modules/dragula/dist/dragula.min.css'>

	<script src="/static/canvas/js/node_modules/jquery/dist/jquery.min.js"></script>
	<script src="/static/canvas/js/node_modules/systemjs/dist/system.js"></script>
	<script src="/static/canvas/js/node_modules/typescript/lib/typescript.js"></script>
	<script src="/static/canvas/js/node_modules/dragula/dist/dragula.min.js"></script>

	<script>
	    System.config({
		transpiler: 'typescript',
		packages: {
		    '/static/canvas/src': {
			defaultExtension: 'ts'
		    }
		}
	    });
	    System.import('/static/canvas/src/panels.ts')
	    System.import('/static/canvas/src/screen.ts')
	    System.import('/static/canvas/src/interface.ts')
	    System
		.import('/static/canvas/src/main.ts')
		.then(null, console.error.bind(console));
	</script>

    </head>
	
    <body>
	<div id='ghost-topbar' style='height:45px; width:100%;'></div>
	<div id='canvas-container'></div>
	<div id='interface-container'></div>
    </body>

</html>
