<header class="header-full-screen fixed">
	<div class="header-title-container text-uppercase text-center">
		<h1 class="header-main-title">
			<span class="editable-text header-title1">Viaje a las clínicas de la</span>
			<span class="editable-text header-title2">Yihad</span>
		</h1>
		<div class="header-author">
			<span class="editable-text">Reportaje: <span class="block">Pilar Cebrián</span></span>
		</div>
	</div>
	<figure class="hidden-mobile scroll-down-container">
		<a class="scroll-down" href="#"><img src="http://www.ecestaticos.com/file/239313ac5dc433df8fefdc09b20c42c0/1444150503.png" height="40" width="40" alt=""></a>
	</figure>
</header>
