<div class="aside-top-mobile clearfix visible-mobile fixed">
	<div class="aside-logo-container">
		<a href="http://www.elconfidencial.com" target="_blank" onclick="#"><img id="logo" src="http://www.ecestaticos.com/file/07f128d2d8ea795344e344682261eb98/1463656710.png" alt="El Confidencial" title="El Confidencial" width="164" height="19"></a>
	</div>
	<div class="aside-share-container text-right">
		<a class="aside-rrss fa fa-facebook" href="#" target="_blank" onclick=""></a>
		<a class="aside-rrss fa fa-twitter" href="#" target="_blank" onclick=""></a>
		<a class="aside-rrss fa fa-whatsapp" href="#" target="_blank" onclick=""></a>
	</div>
</div>

<aside class="aside-left hidden-mobile">
	<a class="aside-left-logo block" href="http://www.elconfidencial.com/" target="_blank" onclick=""><img src="http://www.ecestaticos.com/file/65c9a01730b6f6afd3d17d5be523581c/1457719618.png" width="26" height="30" alt="El Confidencial" title="Volver a El Confidencial"></a>
	<a class="aside-left-rrss block fa fa-facebook" href="#" target="_blank" onclick=""></a>
	<a class="aside-left-rrss block fa fa-twitter" href="#" target="_blank" onclick=""></a>
	<a class="aside-left-rrss block fa fa-linkedin" href="#" target="_blank" onclick=""></a>
</aside>
